<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>It's You Who Can Create</h1>
                        <p class="">It is a long established fact that a reader will be distracted by the readable content
                            .</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>It's you Who Can Destroy</h1>
                        <p>It is a long established you will be make your mind and heart to come together
                            .</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text">
                        <h1>It's You Who Can Actually Deal</h1>
                        <p>It is a fact that you and omly you is responsible for your mind health.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Team Member</h1>
                        <p>It's You Who Can Actually Change</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>shashi</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Pandey</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Shashi</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>It's You</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="recent-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Feel  Fight</h1>
                        <p>You Will Be Free</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src="https://images.pexels.com/photos/113727/pexels-photo-113727.jpeg?auto=compress&cs=tinysrgb&h=350"
                                    alt="" />
                                <h1>Changes Occurs</h1>
                                <p>Various versions have evolved over the years, sometimes by accident, sometimes on
                                    purpose (injected humour and the like).</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src="https://images.pexels.com/photos/113727/pexels-photo-113727.jpeg?auto=compress&cs=tinysrgb&h=350"
                                    alt="" />
                                <h1>Changes Over</h1>
                                <p>Various versions have evolved over the years, sometimes by accident, sometimes on
                                    purpose (injected humour and the like).</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
